/* Define CSS styles for the div element */
div {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #125f21;
  transition: background-color 0.3s ease;
}

/* Define CSS styles for the animation class */
.animated {
  left: 250px;
  opacity: 0.5;
  height: 150px;
  width: 150px;
}

/* Define CSS styles for the buttons */
button {
  margin: 5px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Define CSS styles for the hover effect */
div:hover {
  background-color: #FF5733;
}

/* Define CSS styles for the button with id "toggleVisibility" */
button#toggleVisibility {
  background-color: #dc3545;
}
